<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
  		<h2>Catch detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <!--<!%= link_to(@catch.user) do %>-->
            <!--  <!%= image_tag @catch.user.get_profile_image, size:"100x100" %><br>-->
            <!--  <!%= @catch.user.name %>-->
            <!--<!% end %>-->
          </td>
          <td><%= link_to @catch.title, @catch %></td>
          <td><%= @catch.body %></td>


  </div>
</div>