<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2>プロフィール</h2>
      <table class="table">
        <tbody>
          <tr>
            <th>
              <%= image_tag @user.get_image(100,100) %>
            </th>
            <td>
              <%= @user.name %>
            </td>
          </tr>
          <tr>
        	  <th>introduction</th>
        	  <th><%= @user.introduction %></th>
          </tr>
          <% if @user == current_user %>
            <tr>
              <th>
                <%= link_to edit_information_path(@user), class: "btn btn-outline-secondary btn-block" do %>
                  <i class="fas fa-user-cog"></i>
                <% end %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>